MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/VEGGO?retryWrites=true&w=majority
PORT=5001
PUBLIC_BASE_URL=http://10.0.2.2:5001
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
